[2022-02-10 17:27] sr320 opened #10 "Identify SNPs in BS data"
I am going to try to tackle this but anyone else is welcome to tackle (assign yourself and let me know what you need).

[2022-02-12 00:55] sr320 opened #12 "Use BS data (bam) to examine copy number variation"

[2022-02-13 16:37] sr320 commented on #10
this
[code]

Generated

https://gannet.fish.washington.edu/seashell/bu-github/nb-2022/C_virginica/analyses/bsnp01/

tldr

[code]

[2022-02-13 20:13] sr320 opened #13 "Calculate gene-level methylation statistics in oyster data"
Relevant files are at
https://gannet.fish.washington.edu/seashell/bu-mox/scrubbed/120321-cvBS/

for instance for each sample

[code]

[2022-02-13 20:37] sr320 commented on #13
easy way to grab
[code]

[2022-02-14 19:36] AHuffmyer opened #14 "Problem downloading Husky OnNet"
I tried to download Husky OnNet using my UW NetID for RStudio access. When I try to download I get redirected to a page that says "unauthorized". Has anyone else had this issue?

[2022-02-14 19:42] AHuffmyer commented on #14
![Screen Shot 2022-02-14 at 11 41 45](https://user-images.githubusercontent.com/32178010/153934744-410937ee-f960-4fb7-ae17-46aa67637845.png)

[2022-02-14 19:52] kubu4 commented on #14
Do you have a password for accessing stuff in your UW account?

[2022-02-14 19:57] AHuffmyer commented on #14
I have my UW NetID password - is that the same?

[2022-02-14 19:58] AHuffmyer commented on #14
I wonder if my NetID has to be assigned to allow access to Husky OnNet

[2022-02-14 20:04] kubu4 opened #15 "Identify SNPs in C.virginica adult gonad RNAseq data"
Sample-specific sorted BAM files can be found in each sample-specific subdirectory here:

https://gannet.fish.washington.edu/Atumefaciens/20210726_cvir_stringtie_GCF_002022765.2_isoforms/

There's also a corresponding MD5 checksum file (use this confirm successful transfer of any files) in each sample-specific subdirectory.

Notebook detailing their creation is here:

https://robertslab.github.io/

[2022-02-14 20:06] kubu4 commented on #14
You should have a UW NetID and a password assigned to you for accessing University of Washington services. Is that the password you used when attempting to download Husky OnNet?

[2022-02-14 20:09] sr320 commented on #14
@AHuffmyer what is your UW ID?

[2022-02-14 20:20] AHuffmyer commented on #14
Thank you @sr320 that worked!

[2022-02-14 20:31] AHuffmyer commented on #14
@sr320 and @kubu4 - I closed the issue too early. I was able to successfully downloaded Husky OnNet, but received this error when trying to activate the VPN.
<img width="615" alt="Screen Shot 2022-02-14 at 12 30 31" src="https://user-images.githubusercontent.com/32178010/153941652-2bf9467f-d8c3-458a-9267-0ee3d8578cd0.png">

[2022-02-14 20:46] sr320 commented on #14
You are sponsored.. see https://d.pr/i/3m0s7x
maybe it takes a bit to kick in..

[2022-02-14 20:47] AHuffmyer commented on #14
Sounds good. Iʻll confirm when I try again in a little while. Thank you!

[2022-02-14 20:48] kubu4 commented on #14
What instructions are provided in that link that it asks you to click on?

[2022-02-14 20:52] sr320 commented on #10
And with 10x coverage threshold
https://gannet.fish.washington.edu/seashell/bu-github/nb-2022/C_virginica/analyses/bsnp02/

[2022-02-14 20:58] AHuffmyer commented on #14
It just logs me out... Iʻll try to log back in tomorrow - perhaps it takes some time.

<img width="204" alt="Screen Shot 2022-02-14 at 12 56 42" src="https://user-images.githubusercontent.com/32178010/153945341-fa99e658-b067-490c-a592-2cb323a45102.png">

[2022-02-14 21:00] kubu4 commented on #14
I think that link should go here:

https://itconnect.uw.edu/connect/uw-networks/about-husky-onnet/use-husky-onnet/#special

Please try those instructions and see what happens.

[2022-02-14 21:11] kubu4 commented on #14
Thanks.

Oddly, when you click on the link, it thanks you for logging out (suggesting you might actually be logged in).

Can you please re-launch Husky OnNet and then visit this URL?

https://husky-onnet-test.uw.edu/vpn-test/

That'll tell you if you're successfully connecting.

[2022-02-14 21:12] kubu4 commented on #14
I'd probably just hit up UW-IT at this point, though. They're very helpful and pretty responsive: help@uw.edu

[2022-02-14 21:21] AHuffmyer commented on #14
Iʻll do that - thank you!

[2022-02-14 21:31] kubu4 commented on #15
For anyone tackling this, I should also note that the read group (`@RG`) tag has _not_ been set in any of the samples! I'll try to get that info added this week.

Of course, if you're motivated, you can add that info yourself using `samtools`:

http://www.htslib.org/doc/samtools-addreplacerg.html

And, here's the metadata for each sample:

https://github.com/epigeneticstoocean/2018_L18-adult-methy

[2022-02-15 14:13] emmastrand opened #16 "Requested Access to RStudio Server"
Not an existing UW employee/student so no NetID yet. emma_strand@uri.edu

Thank you!!

[2022-02-15 14:22] JillAshey opened #17 "Requesting access to UW RStudio server"
Email: jillashey@uri.edu

[2022-02-15 14:52] jarcasariego commented on #17
Can I be added too? Thanks
Email: javirodr@fiu.edu

[2022-02-15 15:51] kubu4 commented on #17
Thanks, @jarcasariego. Proceed to [Step #3 of the RStudio Server Instructions](https://github.com/sr320/ceabigr/wiki/RStudio-Server-Instructions).

NOTE: You may have to follow some of the instructions here to get the Husky OnNet service configured for your type of UW NetID ("sponsored"):

https://itconnect.uw.edu/connect/uw-networks/about-husky-onnet/use-husky-onnet/#Sponsored

After you download

[2022-02-15 15:53] kubu4 commented on #17
Also, please visit this page and make sure that Husky OnNet is listed as an "Active service": https://uwnetid.washington.edu/manage/?service

[2022-02-15 15:53] kubu4 commented on #16
Also, please visit this page and make sure that Husky OnNet is listed as an "Active service": https://uwnetid.washington.edu/manage/?service

[2022-02-15 16:20] jarcasariego commented on #17
Thanks @kubu4. Everything smooth. My UW NetID is javirodr

[2022-02-15 16:36] emmastrand commented on #16
I'm experiencing the same issues that @AHuffmyer did in her issue post. Ariana, did you get an answer from IT?

[2022-02-15 16:38] AHuffmyer commented on #16
I am making progress and almost have it solved! Have you been able to download Husky OnNet?

[2022-02-15 16:46] emmastrand commented on #16
I can download Husky OnNet but stuck on the same error when trying to activate the VPN. The screenshot of "Need to use sponsored UW netID servers to connect to this service". And when I click the link it gives the same "Your session has finished" message.

[2022-02-15 16:48] AHuffmyer commented on #14
Problem Solved!! We have to edit the server address to access for sponsored ID's. Here are the steps I followed once I had Husky OnNet downloaded (Mac):

1. Open the BIG-IP client
2. Click "Manage VPN Servers" in the menu bar (selecting the BIG-IP icon from the top right hand bar on your computer).
3. Click the + to add a new server. Name = Campus Sponsor; Server Address = https://dept-huskyonnet.

[2022-02-15 16:48] #14 closed

[2022-02-15 16:49] AHuffmyer commented on #16
Problem solved on my end! We have to edit the server address to access for sponsored ID's. Here are the steps I followed once I had Husky OnNet downloaded (Mac):

1. Open the BIG-IP client
2. Click "Manage VPN Servers" in the menu bar (selecting the BIG-IP icon from the top right hand bar on your computer).
3. Click the + to add a new server. Name = Campus Sponsor; Server Address = https://dept-hu

[2022-02-15 17:28] kubu4 commented on #16
RStudio Server account created. Credentials/URL sent via Slack.

Thanks for your patience and thanks to @AHuffmyer for the troubleshooting!

[2022-02-15 17:28] #16 closed

[2022-02-15 17:51] ksil91 commented on #10
So you got 1 vcf file for each individual. Bcftools merge should merge them into 1 vcf:
https://samtools.github.io/bcftools/bcftools.html#merge
`bcftools merge sample1.vcf sample2.vcf sample3.vcf --merge all -O v -o merged.vcf`

I would then filter with vcftools a bit so it is smaller/less noisy. Max missing 50%, minor allele count >=2, biallelic SNPs:
`vcftools --vcf merged.vcf --recode --recode-

[2022-02-15 18:43] laurahspencer opened #19 "I need authorization for Husky OnNet"
I have a similar issue as Ariana had (#14) - I'll need my UW NetID to be authorized to access Husky OnNet:

UW NetID: lhs3
email: lhs3@uw.edu

Also curious is the VPN provides access to UW Library system?  I'm currently not authorized to get papers through UW.
Thanks!

[2022-02-15 19:30] kubu4 commented on #19
I've authorized Husky OnNet for your UW NetID.

Make sure it's an "Active service" here: https://uwnetid.washington.edu/manage

It may not. Depends on how @sr320 set up your UW NetID when it got re-instated. Library access is generally a more restricted UW service, so access is limited to only certain types of UW NetIDs (e.g. "Sponsored with deferred identity verification" do not get access to UW

[2022-02-15 19:30] #19 closed

[2022-02-15 21:02] yaaminiv opened #20 "Credentials for BIG-IP Edge Client"
I tried using my  UW net ID (yaaminiv) with BIG-IP Edge Client/Husky OnNet and got the following error:

<img width="730" alt="Screen Shot 2022-02-15 at 4 01 03 PM" src="https://user-images.githubusercontent.com/22335838/154148434-1345f36b-f9c0-4b89-98d9-45522fb064b1.png">

Do I need a new UW net ID in order to get access, or does something need to be done about the access my current net ID has?

[2022-02-15 21:10] kubu4 commented on #20
I've authorized Husky OnNet for your UW NetID.

Make sure it's an "Active service" here: https://uwnetid.washington.edu/manage

[2022-02-15 21:22] yaaminiv commented on #20
Followed @AHuffmyer's [instructions](https://github.com/sr320/ceabigr/issues/14#issuecomment-1040508734) and now have access to the VPN! Just need RStudio server login credentials.

[2022-02-15 21:26] kubu4 commented on #20
RStudio info sent via Slack.

[2022-02-15 21:26] #20 closed

[2022-02-16 04:22] kubu4 commented on #17
Thanks, @JillAshey.

NOTE: You may have to follow some of the instructions here to get the Husky OnNet service configured for your type of UW NetID ("sponsored"):

https://itconnect.uw.edu/connect/uw-networks/about-husky-onnet/use-husky-onnet/#Sponsored

Also, please visit this page and make sure that Husky OnNet is listed as an "Active service": https://uwnetid.washington.edu/manage/?service

Aft

[2022-02-16 17:26] shaylematsuda commented on #17
HI Can I please be added, too?
shaylematsuda@gmail.com
(or smatsuda@sheddaquarium.org if it needs to be institutional)

[2022-02-16 17:58] kubu4 commented on #17
Thanks, @shaylematsuda .

NOTE: You may have to follow some of the instructions here to get the Husky OnNet service configured for your type of UW NetID ("sponsored"):

https://itconnect.uw.edu/connect/uw-networks/about-husky-onnet/use-husky-onnet/#Sponsored

Also, please visit this page and make sure that Husky OnNet is listed as an "Active service": https://uwnetid.washington.edu/manage/?service

[2022-02-16 18:03] laurahspencer commented on #14
@AHuffmyer this was super helpful, thanks for posting the steps to add new servers!

[2022-02-16 18:20] kubu4 commented on #17
Sent @laurahspencer login info via Slack.

[2022-02-16 18:35] laurahspencer commented on #17
RStudio Server access achieved.

[2022-02-16 19:48] JillAshey commented on #17
My UW NetID is: jashey

When downloading and attempting to log on to the UW server, it gives me this error:

<img width="1227" alt="Screen Shot 2022-02-16 at 2 47 19 PM" src="https://user-images.githubusercontent.com/63874927/154344075-1f5737e1-cca2-44f2-b160-aee7c8a8b32a.png">

[2022-02-16 20:10] kubu4 commented on #17
@JillAshey - Please see possible solution from @AHuffmyer:

https://github.com/sr320/ceabigr/issues/14#issuecomment-1040508734

Report back to let me know how it goes.

[2022-02-17 01:07] ksil91 commented on #17
ksil91@gmail.com

[2022-02-17 16:25] kubu4 commented on #17
Sent @JillAshey RStudio Server info via Slack.

[2022-02-18 00:21] sr320 opened #22 "Identify unmapped reads in BS DNA data"
### Discussed in https://github.com/sr320/ceabigr/discussions/11

<div type='discussions-op-text'>

<sup>Originally posted by **sr320** February 11, 2022</sup>
There are a good deal of sequence reads that do not map to the genome. For various reasons it would be nice to know what those are. One might be if we see presence of consistent secondary taxa, that could be integrated into our analysis and

[2022-02-18 03:43] kubu4 commented on #22
Just a heads up, since these are already bisulfite converted reads, the taxonomic assignments are probably going to be somewhat inaccurate.

[2022-02-18 18:09] sr320 commented on #12
[code]

output https://gannet.fish.washington.edu/seashell/bu-mox/scrubbed/021722-gen-cov/

[2022-02-18 18:10] sr320 commented on #12
next step is get 24 samples files into matrix

[2022-02-18 18:18] sr320 opened #23 "Characterize lncRNA expression patterns"

[2022-02-18 18:21] sr320 commented on #23
see also https://github.com/RobertsLab/resources/issues/1375#issuecomment-1044686517

[2022-02-18 18:44] zbengt commented on #17
Asking for an add late in the game. UW net ID/email: zbengt@uw.edu

[2022-02-18 20:08] kubu4 commented on #17
Thanks, @ksil91.

NOTE: You may have to follow some of the instructions here to get the Husky OnNet service configured for your type of UW NetID ("sponsored"):

https://itconnect.uw.edu/connect/uw-networks/about-husky-onnet/use-husky-onnet/#Sponsored

Also, please visit this page and make sure that Husky OnNet is listed as an "Active service": https://uwnetid.washington.edu/manage/?service

After

[2022-02-18 20:25] ksil91 commented on #17
@kubu4 vpn working, username is ksil91

[2022-02-18 20:41] kubu4 commented on #17
Sent @ksil91 RStudio Server info via Slack.

[2022-02-19 14:12] ksil91 commented on #10
Try this (just changing the file header so it says 4.3)
https://www.biostars.org/p/325012/

If that doesn't work, I should be able to filter relatively quickly in R. Can we install packages ourselves on the rStudio server?

[2022-02-20 01:09] sr320 commented on #10
Yes you should be able to install packages.

[2022-02-21 00:34] hputnam opened #24 "Access Request RStudio Server - Putnam"

[2022-02-21 00:34] hputnam commented on #24
hputnam@uri.edu here is my email address @kubu4

[2022-02-21 15:16] shellytrigg commented on #17
@kubu4 can you please add shellywanamaker@gmail.com ?

[2022-02-21 17:02] sr320 opened #25 "Determine TE copy number variation"

[2022-02-21 19:31] shellytrigg commented on #13
script for gene methylation from methcompare:
https://github.com/hputnam/Meth_Compare/blob/master/code/Median-Methylation-Calculations.Rmd

[2022-02-21 19:34] AHuffmyer opened #26 "Generate count matrix of sequence counts per exon per gene"

[2022-02-21 19:56] sr320 commented on #10
Merged VCF - 16G https://gannet.fish.washington.edu/seashell/bu-mox/scrubbed/021722-vcfmerge/Cv_10x_merged.vcf

Can we changed header there or need to go back up to step one - I will try changing this one

[2022-02-21 20:06] AHuffmyer commented on #26
[exon.bed.zip](https://github.com/sr320/ceabigr/files/8111835/exon.bed.zip)
Exon bed file here

[2022-02-21 20:08] hputnam opened #27 "Calculate DMGs for female gonad sample"

[2022-02-21 20:08] laurahspencer opened #28 "eQTL analysis using methylation instead of SNPs"

[2022-02-21 20:08] JillAshey opened #29 "BAM files for gene expression analysis"
@yaaminiv @sr320 Where are the HISAT2 code and/or BAM files for the RNASeq gene expression analysis located?

[2022-02-21 20:13] laurahspencer commented on #28
Could also do a mQTL, would also need:
- SNPs x individual matrix (filtered for ...?
- SNPs location bedfile
- % methylation x individual matrix
- Methylation locations bedfile

Integrate somehow?

[2022-02-21 20:18] sr320 commented on #29
check out https://robertslab.github.io/sams-notebook/2022/01/31/RNAseq-Alignment-C.virginica-Adult-OA-Gonad-Data-to-GCF_002022765.2-Genome-Using-HISAT2-on-Mox.html

[2022-02-21 20:19] sr320 commented on #29
There are links there that walk you back eg https://robertslab.github.io/sams-notebook/2021/07/20/Genome-Annotations-Splice-Site-and-Exon-Extractions-for-C.virginica-GCF_002022765.2-Genome-Using-Hisat2-on-Mox.html

[2022-02-21 20:21] sr320 commented on #29
Looks like BAMs are at https://gannet.fish.washington.edu/Atumefaciens/20210726_cvir_stringtie_GCF_002022765.2_isoforms/

[2022-02-21 20:22] sr320 commented on #29
BUT this might be what you are looking for https://github.com/sr320/ceabigr/issues/15

[2022-02-21 20:50] laurahspencer commented on #28
Use R program MatrixEQTL

[2022-02-21 20:52] sr320 commented on #25
if you want sorted, deduplicated bams from Bismark

[code]

[2022-02-21 20:57] sr320 commented on #25
two TE tracks

[C_virginica-3.0_TE-all.gff](http://owl.fish.washington.edu/halfshell/genomic-databank/C_virginica-3.0_TE-all.gff) : http://owl.fish.washington.edu/halfshell/genomic-databank/C_virginica-3.0_TE-all.gff

MD5 = d0d81fc6cf7525bc2c61984bee23521b

[Details](http://onsnetwork.org/kubu4/2018/08/28/transposable-element-mapping-crassostrea-virginica-genome-cvirginica_v300-using-repeatmasker-

[2022-02-21 21:20] yaaminiv commented on #25
@jarcasariego fasta.out can be found through these links:

https://robertslab.github.io/sams-notebook/2018/05/29/transposable-element-mapping-crassostrea-virginica-ncbi-genome-assembly-using-repeatmasker-4-07.html

https://robertslab.github.io/sams-notebook/2018/08/28/transposable-element-mapping-crassostrea-virginica-genome-cvirginica_v300-using-repeatmasker-4-07.html

TE-all: All species used fo

[2022-02-21 21:34] yaaminiv commented on #10
@sr320 Where can I find BS-Snper output for each sample? I just want C->T SNP data

[2022-02-21 22:09] yaaminiv opened #30 "Replace % meth data based on SNP presence"
Notebook: https://github.com/sr320/ceabigr/blob/main/code/General-Methylation-Landscape.ipynb

I have a bedgraph with % methylation values for each sample, and a VCF file for each sample that lists SNPs. For each CpG locus in the be graph that is listed as a SNP in the VCF file, I want to replace the % methylation value with 0.

I've gotten as far as `intersectBed`. How do I use the information I

[2022-02-21 22:10] sr320 commented on #10
SNPs in BS data have been identified.

filtered file.. https://github.com/sr320/ceabigr/blob/main/data/Cv_10x_fxmerge_05.recode.vcf

[2022-02-21 22:16] sr320 opened #31 "% methylation matrix of intersecting loci ?"
hu Laura
yes - @yaaminiv will post soon

[2022-02-21 22:18] sr320 commented on #30
@yaaminiv can you provide us with those two files to play with?

[2022-02-21 22:19] sr320 commented on #29
@JillAshey are these in hand? can we close this issue?

[2022-02-21 22:22] yaaminiv commented on #30
vcf: https://gannet.fish.washington.edu/seashell/bu-github/nb-2022/C_virginica/analyses/bsnp01/3F_R1_val_1_bismark_bt2_pe.SNP-results.vcf

uploading bedgraph to gannet now...may take a while

[2022-02-21 22:36] #29 closed

[2022-02-21 23:00] jarcasariego commented on #25
for f in *.bam; do /home/shared/samtools-1.12/samtools depth ${f} > ${f}_depth

[2022-02-21 23:12] #12 closed

[2022-02-21 23:16] laurahspencer commented on #30
My notebook where I add zeros to some loci for some populations. Lots of code here, the pertinent code to make the replacements starts at line 306

https://github.com/sr320/paper-oly-mbdbs-gen/blob/master/code/01-methylkit.Rmd

[2022-02-21 23:50] sr320 commented on #25
I generated files for each sample at https://github.com/sr320/ceabigr/tree/main/output

*_te-allcov_m.out

[2022-02-21 23:59] sr320 opened #32 "Run intersectbed with 10methylation and TE track"

[2022-02-22 00:13] yaaminiv commented on #31
@laurahspencer @ksil91

union bedgraph: https://gannet.fish.washington.edu/seashell/ceabigr/output/methylation-landscape/union_10x.bedgraph

union bedgraph with a column for avg meth across samples: https://gannet.fish.washington.edu/seashell/ceabigr/output/methylation-landscape/union-averages.bedgraph

code: https://github.com/sr320/ceabigr/blob/main/code/General-Methylation-Landscape.ipynb

[2022-02-22 00:42] shellytrigg opened #33 "awk code for replacing loci %meth where snp with 0"
@yaaminiv

awk -F"\t" 'NR==FNR{a[$1,$2]=$1"\t"$2;next}(if($1"\t"$2) in a){print $1"\t"$2"\t"$3"\t"0;else print $0}' .vcf .bedgraph

[2022-02-22 00:54] yaaminiv opened #34 "Remake genome feature tracks"
not urgent, but should make sure tracks don't have overlapping features

[2022-02-22 00:57] yaaminiv commented on #33
awk -F"\t" 'NR==FNR{a[$1"\t"$2]=$1"\t"$2;next}{if(($1"\t"$2) in a) print $1"\t"$2"\t"$3"\t"0;else print $0}' \
3F_R1_val_1_bismark_bt2_pe.SNP-results.vcf \
3F_R1_val_1_10x.sort.bedgraph

it works!!

[2022-02-22 00:57] #33 closed

[2022-02-22 13:19] kubu4 commented on #24
UW IT request has been issues. Not entirely sure if UW Husky OnNet access request is auto-processed or has to be human-approved. If it requires human review, the request probably won't be processed for a few hours. Regardless, please be sure to check your Spam folder; I think Katherine's approval may have been sitting in her Spam folder for a day and half before she realized it.

[2022-02-22 13:20] kubu4 commented on #17
@shellytrigg - UW IT request has been initiated. Not entirely sure if UW Husky OnNet access request is auto-processed or has to be human-approved. If it requires human review, the request probably won't be processed for a few hours. Regardless, please be sure to check your Spam folder; I think Katherine's approval may have been sitting in her Spam folder for a day and half before she realized it.

[2022-02-22 13:40] sr320 commented on #17
Thanks- do not need On-net while at FHL

[2022-02-22 13:41] sr320 commented on #24
Thanks- do not need On-net while at FHL

[2022-02-22 13:42] kubu4 commented on #17
Ah! Even better! Thanks for clarifying! Adding RStudio Access mementarily!

[2022-02-22 13:42] kubu4 commented on #24
Ah! Even better! Thanks for clarifying! Adding RStudio Access mementarily!

[2022-02-22 13:48] kubu4 commented on #17
Sent @shellytrigg RStudio Server info via Slack.

[2022-02-22 13:48] kubu4 commented on #24
Sent @hputnam RStudio Server info via Slack.

[2022-02-22 13:48] #24 closed

[2022-02-22 15:16] jarcasariego opened #35 "install numpy for python3 in raven"
@kubu4 is it possible to get numpy installed in raven?

[2022-02-22 15:23] kubu4 commented on #35
The simplest means to do so is to download and install [Anaconda for Linux](https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh):

`wget https://repo.anaconda.com/archive/Anaconda3-2021.11-Linux-x86_64.sh`

Run that script:

`bash Anaconda3-2021.11-Linux-x86_64.sh`

Follow instructions (I think you want to answer "yes" to all questions).

After install, run:

`conda install numpy`

[2022-02-22 16:02] jarcasariego commented on #35
done! Thanks @kubu4

[2022-02-22 16:02] #35 closed

[2022-02-22 16:10] kubu4 commented on #35
Out of curiosity, which approach did you use?

[2022-02-22 16:11] jarcasariego commented on #35
the second one.

[2022-02-22 16:22] yaaminiv commented on #30
@shellytrigg answered my question in this issue: https://github.com/sr320/ceabigr/issues/33

[2022-02-22 16:22] #30 closed

[2022-02-22 16:23] #31 closed

[2022-02-22 16:25] yaaminiv commented on #32
@sr320 is anyone doing this? if not I can start

[2022-02-22 16:29] sr320 commented on #32
I am

Message ID: ***@***.***>

[2022-02-22 16:53] sr320 opened #36 "Determine if TE name are unique"
For a given file such as
https://gannet.fish.washington.edu/seashell/bu-github/ceabigr/output/48MmTE.out

determine if the name of each TE only has one location

[2022-02-22 17:25] laurahspencer opened #37 "Raw per-gene counts from RNASeq data (not normalized)"
I'm looking for raw gene counts per individual from the aligned RNASeq data.  @kubu4 does this exist? I see the file gene_fpkm.txt, so looking for that but not normalized.

[2022-02-22 18:26] sr320 commented on #17
Does @shaylematsuda have Rstudio server acount?

[2022-02-22 18:43] ksil91 opened #38 "pca of methylation data"
Can someone make a PCA of the methylation data? preferably with loci filtered out that are missing in more than 10% of samples. I would want to see the plot but also get the PC scores as a .csv file.

[2022-02-22 18:51] jarcasariego opened #39 "CG_motif file location?"
the file located here "https://eagle.fish.washington.edu/Cvirg_tracks/C_virginica-3.0_CG-motif.bed" is not there anymore.

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>301 Moved Permanently</title>
</head><body>
<h1>Moved Permanently</h1>
<p>The document has moved <a href="https://eagle.fish.washington.edu/Cvirg_tracks/C_virginica-3.0_CG-motif.bed">here</a>.</p>
</body></

[2022-02-22 18:54] yaaminiv commented on #39
try from this location: https://gannet.fish.washington.edu/spartina/2018-10-10-project-virginica-oa-Large-Files/yaamini-virginica/analyses/2019-05-13-Generating-Genome-Feature-Tracks/

[2022-02-22 18:57] yaaminiv commented on #34
issues with accessing genome feature tracks: https://github.com/sr320/ceabigr/issues/39

[2022-02-22 19:07] #39 closed

[2022-02-22 19:33] ksil91 commented on #38
@sr320 Yaamini says you have this?

[2022-02-22 19:44] sr320 commented on #38
I can probably get methyl kit to spit out but I do not know how to make PCAs

[2022-02-22 19:45] sr320 commented on #34
Why not use NCBI gff file?

[2022-02-22 19:47] sr320 opened #40 "Determine relationship of isoform count per gene and gene methylation"

[2022-02-22 19:50] yaaminiv commented on #34
can use, I just want to remake the flanking and intergenic tracks specifically (not included in NCBI gff) to ensure that there are no overlapping features.

[2022-02-22 21:13] kubu4 commented on #17
Sent @shaylematsuda RStudio Server info via Slack.

Sorry for the delay!!

[2022-02-22 21:13] #17 closed

[2022-02-22 21:18] sr320 commented on #36
ran summarize to get choromosome and start start... so some bash should be able to get

[2022-02-22 21:18] #32 closed

[2022-02-22 21:19] sr320 opened #41 "Determine Correlation of TE copy number and TE methylation level"

[2022-02-22 21:20] sr320 commented on #26
is this completed?

[2022-02-22 21:20] #25 closed

[2022-02-22 21:21] sr320 commented on #41
see https://github.com/sr320/ceabigr/issues/25#issuecomment-1047303743 for Copy # variation

[2022-02-22 21:22] sr320 commented on #41
have methylation file

[2022-02-22 21:22] sr320 commented on #13
IS this complete @shellytrigg ?

[2022-02-22 21:30] sr320 opened #42 "Straighten up repo organization"
`RAanlysis` seems out of place...

within code some agreed upon nomenclature

is everything there?

[2022-02-22 21:31] sr320 opened #43 "Outline manuscript"

[2022-02-22 21:32] laurahspencer opened #44 "Missing samples from the gene_fpkm.csv file"
Looks like we're missing data for 4 samples (only have 22 out of the 26 RNASeq .bam files).

[2022-02-22 21:37] sr320 commented on #44
26 bam files are here https://gannet.fish.washington.edu/Atumefaciens/20210726_cvir_stringtie_GCF_002022765.2_isoforms/

[2022-02-22 21:39] sr320 commented on #42
Is the valuable stuff you did over the past two day represented in some way in repo

[2022-02-22 21:44] sr320 opened #45 "Pull out string in tab file"
for a line like

[code]

I want to pull out `Motif:BivaMD-SINE1_CrVi`

can I just say " is delimiter?

[2022-02-22 21:44] kubu4 commented on #37
Sorry, what do you mean by raw gene counts?

[2022-02-22 21:44] sr320 commented on #45
tidyverse preferred

[2022-02-22 22:01] sr320 commented on #44
sounds like https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/gene_fpkm.csv

is incomplete?

[2022-02-22 22:18] laurahspencer commented on #37
I think this is what I needed, the transcripts per gene per sample file

https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/transcript-counts_per-gene-per-sample.csv?raw=true

[2022-02-22 22:23] kubu4 commented on #44
Hmmm... Four samples (no sure which ones yet) get dropped during this merge step:

https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/fd53c74e8838f0d277043d6180f4f698612e6a45/code/ballgown_analysis.Rmd#L727

Not sure I have the availability to troubleshoot for long, so if someone can also investigate (maybe it's a simple problem with the `merge()` command I implemented), that'd

[2022-02-22 22:24] #37 closed

[2022-02-22 22:34] kubu4 commented on #44
Okay, found the issue. Substring command leaves an errant `.` in four sample names. Will work on fix...

[2022-02-22 23:11] yaaminiv commented on #43
https://docs.google.com/document/d/1O63kXExAe-bBPXv6fTEZAof8Q2-ARI5Y3XyD5oxkiGE/edit#heading=h.eck9v3f2f4yp

[2022-02-22 23:33] AHuffmyer commented on #26
Not completed yet

[2022-02-22 23:34] kubu4 commented on #44
Fixed with this [commit](https://github.com/epigeneticstoocean/2018_L18-adult-methylation/commit/1d9c6dfd954782130b8c17266f3582cb6dc1b9c1).

[2022-02-22 23:34] #44 closed

[2022-02-22 23:35] AHuffmyer commented on #26
AH - run transcript count matrix against exon gff file

[2022-02-23 00:23] sr320 opened #46 "Compile and summarize all papers in bivalves where DNA methylation AND gene expression is examined"

[2022-02-23 01:38] ksil91 commented on #10
I think that Epiderve-SNP pipeline is the way to go.
https://github.com/EpiDiverse/snp

[2022-02-23 01:48] shellytrigg opened #47 "install nextflow on Raven"
here's a log with how I installed nextflow on mox and on roadrunner. @ksil91 you can reference the part of the roadrunner part of the log:

https://github.com/shellytrigg/Salmon_sealice/blob/master/analyses/20201027/install_nf-core_Nextflow.log

[2022-02-23 03:13] ksil91 commented on #47
Instructions for nextflow: https://www.nextflow.io/

instructions for epidiverse
https://github.com/EpiDiverse/snp

[2022-02-23 03:21] ksil91 commented on #47
https://docs.docker.com/engine/install/

sudo apt-get remove docker docker-engine docker.io containerd runc
sudo apt-get update
sudo apt-get install \
sudo apt-get install \
    ca-certificates \
    curl \
    gnupg \
    lsb-release

curl -fsSL https://download.docker.com/linux/debian/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg

[2022-02-23 03:59] sr320 commented on #47
should be installed

[2022-02-23 04:00] #43 closed

[2022-02-23 04:01] sr320 commented on #42
now we have rules

Rules of github repo behavior:

- subdirectories are permitted within the data/ and output/ directories but names must match script names
- must constantly update readme file to describe files, particularly for code
- push often

[2022-02-23 04:01] sr320 commented on #13
this might be it https://github.com/sr320/ceabigr/blob/main/RAnalysis/data/meanmethgene_10x_allsampssex.csv

[2022-02-23 05:48] JillAshey opened #48 "Workshop summary for E5"
Write summary about CEABiGR workshop for E5
@AHuffmyer

[2022-02-23 06:27] shellywanamaker opened #49 "Workshop summary for NRSP-8"

[2022-02-24 13:44] kubu4 commented on #22
I was starting to work on this and noticed that some of the files had time stamps listed as this morning. Are these still part of an active Mox job (i.e. should I wait to start this)?

[2022-02-24 15:21] sr320 commented on #22
It can wait

[2022-02-24 16:07] kubu4 opened #50 "Test code reproducibility for RNAseq data"
Well, it appears I may have submarined a decent chunk of CEABIGR (temporarily).

Initial RNAseq alignments (BAM) for individuals was performed using _untrimmed_ reads!

So, any analysis (including my previous `ballgown` analyses) should be disregarded.

I'm in the process of re-running things. Will report back here when things are ready to test everyone's code reproducibility!

So sorry to everyon

[2022-02-24 16:14] sr320 commented on #50
No problem.. most of the work is still in the phase of developing the pipelines, so it can continue, and simple insert new files. Noting there is a contingent that beliefs trimming in RNAseq is not necessary.

[2022-02-25 22:44] #50 closed

[2022-02-25 22:44] #47 closed

[2022-02-28 21:14] kubu4 opened #52 "Install GATK on Raven"
Per meeting today.

[2022-02-28 21:14] kubu4 commented on #52
Installed here: `/home/shared/gatk-4.2.5.0/`

[2022-02-28 21:14] #52 closed

[2022-03-01 18:01] sr320 opened #53 "Update Gene Expression Data files"
Once trimmed data gets through pipeline update files
at
https://github.com/sr320/ceabigr/wiki/Gene-Expression-Data-Types

also on page provide links to sorted bam.

[2022-03-03 20:53] sr320 commented on #23
use this as a  model... https://github.com/sr320/ceabigr/blob/main/code/02-te-all.sh

[2022-03-07 17:57] sr320 commented on #53
But do not all the other links on that page need to be updated? Revision history looks like only `bams` added?

[2022-03-07 19:02] kubu4 commented on #53
URLs to files won't change, but file contents do. Check revision history in analysis directory, not Wiki

[2022-03-07 19:07] sr320 commented on #53
can you let me know when all the updated gene expression files have been updated?

[2022-03-07 19:28] kubu4 commented on #53
They're updated

[2022-03-07 19:31] sr320 commented on #53
what about https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/data/fpkm-all_transcripts.csv ?

[2022-03-07 21:16] kubu4 commented on #53
Good catch! Sorry! That's not in any of the R Markdown scripts I have, so it got missed.

I'll probably be able to get it re-generated this evening, but more likely first thing tomorrow morning.

[2022-03-07 21:21] sr320 commented on #53
Thanks, but that is not the only one..

😄

[2022-03-08 04:39] kubu4 commented on #53
Ha! Good point! Forgot I decided to break out stuff into other scripts to keep things a bit easier to manage. LOL!

[2022-03-09 18:57] kubu4 commented on #53
Think I got 'em all, finally!

[2022-03-09 18:57] #53 closed

[2022-03-09 18:59] sr320 commented on #53
getting some 404s https://github.com/sr320/ceabigr/wiki/Gene-Expression-Data-Types#cov-in-transcript

[2022-03-09 19:00] kubu4 commented on #53
Where?

[2022-03-09 19:01] kubu4 commented on #53
NM!

[2022-03-09 19:03] kubu4 opened #56 "Confirm/fix URLs to files in Gene Expression Data Types wiki"
https://github.com/sr320/ceabigr/wiki/Gene-Expression-Data-Types

[2022-03-09 19:15] kubu4 commented on #56
Stems from this comment in [this other issue](https://github.com/sr320/ceabigr/issues/53#issuecomment-1063255345)

[2022-03-09 19:27] kubu4 commented on #56
All links confirmed to be functional.

[2022-03-09 19:27] #56 closed

[2022-03-09 21:52] kubu4 commented on #22
Looks like bulk of reads (i.e. > 75%) map to _Crassostrea_ (see images at bottom of post).

So, not sure why they're not getting mapped...

I'm assuming these came from Bismark? If yes, the manual provides a bit of insight into capturing unmapped reads. Additionally, a comparison of unmapped reads and ambiguous reads might allow a better grasp of what's happening:

---

Wordcloud of taxonomic assi

[2022-03-14 18:40] AHuffmyer opened #57 "Generate correlations between expression and methylation at the gene level"

[2022-03-14 20:20] sr320 opened #58 "Increasing threads in GATK?"
As @laurahspencer warned, the following takes a long time (another month)

[code]

Is there a way I can increase # threads / memory? I found a few options online but just curious if @ksil91 or others have recommendations before I go down the path of installing new stuff.

[2022-03-15 18:01] ksil91 commented on #58
Agree about splitting into intervals. I haven't needed to do it myself but it seems to be commonly used. You can also request more threads with this (here asking for 5):

`--native-pair-hmm-threads 5`

[2022-03-15 22:20] laurahspencer commented on #58
For the interval option, it looks like that script I sent you already preps and uses an interval list for the `gatk GenomicsDBImport` step (next one after `HaplotypeCaller`).
[code]

[2022-03-15 22:21] laurahspencer commented on #58
I haven't gotten to that step, yet, in my current job so can't confirm that it's foolproof - I'd double check that it's doing what you want before using that code.

[2022-03-16 18:49] jarcasariego opened #59 "Generate coverage2cytosine reports"
@kubu4 can you help me running coverage2cytosines on the bismark output?

[2022-03-16 18:53] kubu4 commented on #59
What kind of help do you need?

[2022-03-16 18:53] sr320 commented on #59
We have the `*CpG_report.merged_CpG_evidence.cov` files
at
https://gannet.fish.washington.edu/seashell/bu-mox/scrubbed/120321-cvBS/

is that what you are looking for?

[2022-03-16 18:55] jarcasariego commented on #59
you do? I did not see it, sorry. Yes, that is exactly what I need. Thank you both

[2022-03-16 18:56] #59 closed

[2022-03-18 15:54] sr320 commented on #58
FTR increasing threads really does not speed anything up. I have yet to try intervals. I will try just intervalling into chromosomes (~11) and see if that makes a difference.

[2022-03-29 21:12] sr320 commented on #58
note that using intervals in this case is slower...
eg

[code]
 is running faster than

[code]

though as you can see I did not keep threads consistent..

[2022-03-30 21:05] #58 closed

[2022-05-24 15:58] ksil91 opened #60 "UW sponsored account expired"
@kubu4 @sr320  Received an email saying my UW NetID expired, and I can no longer log on to the VPN.

[2022-05-24 16:24] kubu4 commented on #60
Have initiated sponsorship request again. You should receive an email shortly. Please follow instructions and you should be good to go!

[2022-05-26 16:00] #60 closed

[2022-05-26 16:02] sr320 opened #62 "Provide hard filter values for RNAseq SNPs"
I have updated repo by redoing analysis up to hard filter.. standing by for recommendation on filtering. https://github.com/sr320/ceabigr/blob/main/code/11-RNAseq-snps.Rmd

[2022-05-27 17:19] ksil91 commented on #62
Nice reference on what some of these filters are:
https://gatk.broadinstitute.org/hc/en-us/articles/360035890471-Hard-filtering-germline-short-variants

Ideally, you would plot the distribution of read depth across sites prior to filtering to estimate read depth parameters, but these should be fine unless you end up with very few SNPs passing filter.

Changed DP (read depth) < 15 and > 150, to < 1

[2022-06-02 16:09] laurahspencer opened #63 "RStudio server working for other people?"
I can't connect to the RStudio server right now. I have Husky OnNet running as usual, so curious if other folks are able to access the RStudio server?

[2022-06-02 16:11] sr320 commented on #63
I will need to reset your access to Husky OnNet.. will do that now.

[2022-06-02 16:14] sr320 commented on #63
never mind on that - Sam has you OnNet service....

[2022-06-02 16:17] kubu4 commented on #63
One sec...

Any error messages or anything, or is it just not loading?

[2022-06-02 16:18] sr320 commented on #63
I think raven might be down at the moment. no ssh, etc. I am on campus and can reset if need be.

[2022-06-02 16:23] kubu4 commented on #63
Also, when restarting, you'll have to stick around to acknowledge the fan error message to complete boot.

[2022-06-02 18:19] laurahspencer commented on #63
I'm in, thanks!

[2022-06-02 18:19] #63 closed

[2022-06-13 19:56] sr320 opened #64 "Write up DML results"

[2022-06-15 15:24] #62 closed

[2022-06-15 15:35] sr320 opened #65 "QC / next step on RNAseq SNPs"
I have run the following code
https://github.com/sr320/ceabigr/blob/main/code/11-RNAseq-snps.Rmd
and think I am ready to move forward.

In short

[code]

produced: https://gannet.fish.washington.edu/seashell/bu-github/ceabigr/output/11-RNAseq-snps/Cv-rnaseq_genotypes-filtered.vcf.gz

[code]

produced: https://gannet.fish.washington.edu/seashell/bu-github/ceabigr/output/11-RNAseq-snps/Cv-rnaseq_gen

[2022-06-21 16:10] laurahspencer opened #66 "Generate gene counts from RNASeq using Kallisto"
For the ultimate goal of running raw counts through DESeq2

[2022-08-30 16:53] sr320 opened #68 "Run mixomics and two simple files"
Using gene expression
https://github.com/epigeneticstoocean/2018_L18-adult-methylation/blob/main/analyses/gene_fpkm.csv

gene level methylation
https://raw.githubusercontent.com/sr320/ceabigr/main/output/40-gene-methylaiton.csv

[2022-08-31 18:59] kubu4 commented on #68
@sr320 - Do you know why the gene level methylation file has `NA`s present?

[2022-08-31 19:30] kubu4 commented on #68
To add some background, I was messing around with the Mixomics package trying to run a PCA with the gene methylation file and the PCA function would just run indefinitely (whereas the gene expression file would load almost instantly). I was able to figure out that the difference between the two files was `NA`s in the gene methylation file. After replacing those `NA`s with `0`, the PCA function wor

[2022-08-31 19:51] sr320 commented on #68
NAs are likely the result of having genes that have CpGs with no methylation data. Or for that matter it could be a result of taking a mean of all CpGs in a gene where at least one was a NA (not sure how NAs would be handled in that instance.)

[2022-08-31 19:59] kubu4 commented on #68
Thanks. Interesting.

So, if we have no methylation data for a gene, does that mean an average methylation of `0` or does that mean had insufficient sequencing depth across the gene to reach the set threshold (e.g. < 5x coverage across entire gene)?

[2022-08-31 21:21] sr320 commented on #68
Insufficient sequencing depth

On Wed, Aug 31, 2022 at 3:59 PM kubu4 ***@***.***> wrote:

--

Steven B. Roberts, Associate Professor Associate Director - Graduate
Program Coordinator School of Aquatic and Fishery Sciences University of
Washington Fisheries Teaching and Research (FTR) Building - Office 232 1140
NE Boat Street - Seattle, WA 98105 robertslab.info - ***@***.*** - @sr320
vm:206.866.514

[2022-09-02 18:58] kubu4 commented on #68
I decided to mess around with this a bit, but not extensively so I don't have a dedicated project for this. Here's rendered  R Markdown if anyone's interested:

https://rpubs.com/kubu4/cvir-gonad-oa-mixomics_testing

Basically, ran the following:

#### Average gene methylation

- PCA
- sparse PCA (sPCA)
- identified top ~25 genes responsible for defining each principal component

Both PCA and sPCA

[2022-09-12 20:01] sr320 opened #69 "Compiling genetic data"
add epidiverse to wiki

[2022-09-12 20:02] sr320 opened #70 "Generate CIRCOS plot"
of gene expression, methylation, etc - maybe 1 chromosome...

[2022-09-20 21:43] sr320 commented on #69
Sorry about that - got confused with ducks..

Yes if you could send C virg data through pipeline that would be great
Yes - that is where bismark bams reside.

[2022-09-26 15:43] kubu4 commented on #69
This finished.

Directory is here:

https://gannet.fish.washington.edu/Atumefaciens/20220921-cvir-ceabigr-nextflow-epidiverse-snp/snps/stats/

Clustering is sort of interesting. Samples seperate out by sex, but there appear to be distinct clusters within each sex:

![image](https://user-images.githubusercontent.com/4514104/192320878-27bfe319-1d31-4f81-8dbc-82f0a2ba44f5.png)

[2022-09-26 16:51] kubu4 commented on #69
Probably should have linked the VCFs directory instead:

https://gannet.fish.washington.edu/Atumefaciens/20220921-cvir-ceabigr-nextflow-epidiverse-snp/snps/vcf/

Regardless, I'll get this info added to the wiki.

[2022-09-27 14:35] kubu4 commented on #69
Notebook: https://robertslab.github.io/sams-notebook/2022/09/21/BSseq-SNP-Analysis-Nextflow-EpiDiverse-SNP-Pipeline-for-C.virginica-CEABIGR-BSseq-data.html

Wiki's been updated.

[2022-09-27 14:35] #69 closed

[2022-09-27 20:27] kubu4 commented on #70
Just a status update.

Finally getting back into the swing of things with this stuff. Here's a quick and "easy" plot of a single chromosome showing mean gene FPKM between control females (black inner ring) and exposed females (green inner ring).

Will get some methylation stuff going, as well as transcript counts or something. It's _very_ easy to plot all of this across all chromosomes, but for te

[2022-09-28 22:13] kubu4 commented on #70
Here's an updated plot of single chormosome (colors describe interior rings):

I'll work on getting transcript counts plotted as well.

- GREEN = mean fpkm CONTROLS FEMALES
- BLACK = mean fpkm EXPOSED FEMALES
- BLUE = mean methylation CONTROLS FEMALES
- RED (ORANGE) = mean methylation EXPOSED FEMALES

![circos](https://user-images.githubusercontent.com/4514104/192898023-44d421c0-17f3-46f7-b83a-30b

[2022-10-11 22:32] kubu4 commented on #70
@yaaminiv Here's an overly complicated plot all of the data I've managed to get into Circos histogram format. Not sure if you just want to throw it into your talk as a pretty picture/example of how we're starting to visualize data?

Description: Comparison of female _C.virginica_ gonad data, per gene on chromosome NC_035781.1. Control samples are always the lighter, outer plots and OA-exposed are

[2022-10-12 15:53] yaaminiv opened #73 "PCAs of methylation and gene exp data"
@kubu4 @sr320 Where can I find the PCAs of methylation and gene exp data? Looking for sex-specific PCAs ideally, but would take PCAs of all data

[2022-10-12 16:23] kubu4 commented on #73
Like in this Mixomics "testing" I ran through?

https://rpubs.com/kubu4/cvir-gonad-oa-mixomics_testing

[2022-10-12 16:30] yaaminiv commented on #73
@kubu4 yes! is there any way you could color the PCAs by sex and treatment? those would work great

[2022-10-12 16:34] kubu4 commented on #73
Can you clarify exactly what you have in mind?

On those plots, they're colored by sex and then shapes designate treatment.

Are you wanting four colors? Do you want the shapes to remain?

And, after all those questions, I honestly have no idea if I can figure that out! LOL! I just followed the Mixomics tutorial, so would have to dig much deeper to see if I can figure out other ways to manipulate

[2022-10-12 16:59] kubu4 commented on #73
Also, just to note, gene expression _and_ methylation are only taken into account for the sparse Projection to Latent Structure (sPLS), _not_ in the PCAs.

sPLS tutorial I followed is here:

https://mixomicsteam.github.io/Bookdown/pls.html

[2022-10-12 17:27] yaaminiv commented on #73
ah never mind! i didn't see the different shapes

[2022-10-17 19:02] sr320 opened #74 "Mean methylation for genes for each treatment"